.home {
  padding-bottom: 22.8rem;
  background: url("../images/home-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #fff, $alpha: 0.6);
    z-index: -1;
    display: none;
  }
  &__content {
    padding-top: 37rem;
    width: 50%;
  }
  &__title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 7.6rem;
    line-height: 130%;
    & span {
      color: var(--color-sundance);
      text-decoration: underline;
    }
  }
  &__subtitle {
    font-size: 2.2rem;
    line-height: 120%;
    opacity: 0.8;
    margin: 3rem 0 6rem 0;
    width: 70%;
  }
}
