@mixin burger-menu {
  width: 45px;
  height: 45px;
  background: var(--color-tuna);
  padding: 1rem;
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 120;
  &::before,
  &::after,
  & span {
    content: "";
    width: 25px;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
  }
  &::before {
    position: absolute;
    top: 10px;
  }
  &::after {
    position: absolute;
    bottom: 10.5px;
  }
}
